/* Body */

body{
	background: darkgrey;
	padding: 50px;
}

.wrapper{
	margin: 0px auto;
}

/* Top Navigation Bar */

.navbar{
	background-color: black;
	display: inline-block;
}

.navbar a{
	background-color: lightgrey;
	float: left;
	text-align: center;
	text-decoration: none;
	padding: ;
}