/* Body */

body{
	background: darkgrey;
	padding: 50px;
}

.wrapper{
	width: min(700px, 100%);
	margin: 0px auto;
}

/* Top Navigation Bar */

.navbar{
	width: 100%;
	background: black;
	display: inline-block;
	padding: 10px 0px;
}

.navbar a{
	color: lightgrey;
	float: left;
	text-align: center;
	text-decoration: none;
	padding: 0px 10px;
}

/* Articles that contain content */

.article {
	width: 100%;
	background: lightgrey;
	display: inline-block;
}

/* Game grid on Home Page */

.games {
	width:100%;
	float:left;
}

.games .game {
	width: 49%;
	padding-bottom: 24%;
	margin-bottom: 2%;
	float: left;
	position: relative;
	overflow: hidden;
}

.games .game .a {
 	color: #cccccc;
 	font-weight: bold;
 	text-decoration: none;
 	background-color: transparent;
}

.games .game .gamepreview {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	background-size: cover;
	transition: top 0.25s, left 0.25s, right 0.25s, bottom 0.25s;
}